@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Spectral:wght@400;700&display=swap');
div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-weight: bold;
font-family: 'Roboto', sans-serif;
}
i{
  margin-left: 10px;
  color: green;
}
i:hover{
  cursor: pointer;
}
#deleteI
 {color: red;}

 ol{
  list-style:none;
 }
