i:hover {
  color: #a29e9e;
}

a {
  color: white;
  text-decoration: none;
}

body #searchBar {
  width: 350px;
}
body #searchBar #searchBarText[placeholder] {
  color: darkgray;
}
body nav #searchForJs {
  cursor: pointer;
}
body footer {
  height: 100px;
  /*         .form-range{
              margin: auto !important;
              padding: auto !important;
          } */
}
@media screen and (max-width: 767px) {
  body footer {
    bottom: 45px;
    border-bottom: 2px solid black !important;
    border-top: 2px solid black !important;
  }
}
@media screen and (min-width: 768px) {
  body footer {
    bottom: 0;
  }
}
body footer #photoFooter {
  width: 80px;
  height: 80px;
}
body footer .baseBar {
  height: 10px;
  background-color: grey;
  border-radius: 20px;
}
body footer .progressBar {
  border-radius: 20px;
  top: 0px;
  left: 0px;
  background-color: green;
  width: 100%;
  height: 10px;
  animation-name: transitionBar;
  animation-duration: 30s;
  animation-timing-function: linear;
}
body footer .progressBarMobile {
  border-radius: 20px;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 2px;
  animation-name: transitionBar;
  animation-duration: 30s;
  animation-timing-function: linear;
}
body footer ul.dropdown-menu div {
  margin: 0 auto !important;
}
body footer button.dropdown-toggle {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
}
body footer .dropdown-toggle::after {
  display: none !important;
}
body main > div.container-fluid.overflow-y-scroll {
  height: 850px;
  background-color: #262626;
  color: white;
}
body main > div.container-fluid.overflow-y-scroll div.row .my-card {
  border-radius: 5px;
  background: linear-gradient(16deg, rgb(0, 0, 0) 35%, rgb(34, 34, 35) 67%);
}
body main > div.container-fluid.overflow-y-scroll div.row .my-card img {
  height: 90%;
}
body main > div.container-fluid.overflow-y-scroll div.row .my-card h1 {
  font-size: 3.5rem;
}
body main > div.container-fluid.overflow-y-scroll div.row .my-card .light-grey {
  background-color: #2d2d2d;
  font-size: 1rem;
}
body main > div.container-fluid.overflow-y-scroll .myPlaylist {
  background-color: #2d2d2d;
  border-radius: 5px;
  box-shadow: 0px 0px 9px -2px #000000;
}
body main > div.container-fluid.overflow-y-scroll .card {
  background-color: #2d2d2d;
}
body main > div.container-fluid.overflow-y-scroll .card h6 {
  color: white;
}
body main > div.container-fluid.overflow-y-scroll .card p {
  color: #858585;
}
body main > div.container-fluid.overflow-y-scroll .card {
  cursor: pointer;
}
body main > div.container-fluid.overflow-y-scroll .card:hover {
  background-color: #5c5b5b;
}

.box {
  margin-bottom: 20px;
  height: 200px;
}

.box {
  cursor: pointer;
}

.box {
  transition: all 0.2s;
}

.box:hover {
  transform: scale(0.9);
}

.destruction {
  display: none;
}

.bg-custom-artist {
  background: linear-gradient(0deg, rgb(18, 18, 18) 35%, rgb(32, 32, 32) 67%);
}

.bg-img-artist {
  background-position: center center;
  background-size: cover;
}

.songYouLikeImg {
  width: 100px;
}

#artistName {
  font-size: 6em;
}

#albumPage {
  background: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgb(43, 43, 43) 91%);
  background-attachment: local;
}

#albumDisplayTitle {
  font-weight: bold;
  font-size: 3.5rem;
}
@media screen and (max-width: 767px) {
  #albumDisplayTitle {
    margin-top: 20px;
    font-size: 2rem;
  }
}

#interpolationAlbum img {
  width: 30px;
}

.bg-black-trasparent {
  background-color: rgba(0, 0, 0, 0.1294117647);
}

#playButton {
  font-size: 60px;
}

@media screen and (max-width: 767px) {
  #iContainer i, #singleI {
    font-size: 2rem !important;
  }
}

@keyframes transitionBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#containerTextFooterScroll {
  overflow: hidden;
}

#songTitleFooter {
  white-space: nowrap;
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.songInsideAlbum:hover {
  background-color: #3d3c3c;
}

/* nav{
    background-color: none !important;
} */
/* div.col-12 col-md-3.bg-black{
    margin-bottom: 100px;
} */
/* @media screen and (min-width: 768px) {

} *//*# sourceMappingURL=index.css.map */