nav{
    
    #logo{
        width: 100px;
    }
    #avatar {
        width: 25px;
        
    }
    #iconGroup{
        margin-right: 100px !important; 
        display: none;
    }
}
@media screen and (min-width:992px) {
    #iconGroup{
        display: flex !important;
    }
}