html{
    height: 100%;
    body{
        height: 100%;
        margin: 0;
        #container{
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            form{
                #previousName{
                    margin-bottom: 50px;
                }
                #buttonsContainer{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    
}
#timerContainer {
    display: flex;
    text-align: end;
    font-size: 2em;
    font-weight: bold;
    color: orangered;
    margin: 0px;
    justify-content: end;
    align-items: center;
    margin-right: 50px
}