<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link">chi siamo</a>
        <a class="nav-link">lavora con noi</a>
        <a class="nav-link">contattaci</a>
      </div>
    </div>
    <button *ngIf="isLogged" class="btn btn-danger" (click)="logout()">
      LOGOUT
    </button>
  </div>
</nav>
