<h1 class="text-center">Bevenuto!</h1>
<div class="container d-flex flex-column alingn-center">
  <div class="row text-center alingn-center justify-content-center">
    <div class="col-4">
      <button
        class="btn btn-primary"
        [routerLink]="['/authorizzation', 'login']"
      >
        Accedi
      </button>
    </div>
    <div class="col-12">
      <p class="m-0">o</p>
    </div>
    <div class="col-4">
      <button
        class="btn btn-success"
        [routerLink]="['/authorizzation', 'registration']"
      >
        Registrati
      </button>
    </div>
  </div>
</div>
